body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20px;
}

.content {
    padding: 20px;
    background-color: #000000;
}

button {
    padding: 10px 20px;
    background-color: #ffa500;
    color: #fff;
    border: none;
    cursor: pointer;
}

img {
    min-height: 500px;
    max-height: 500px;
    width: auto; /* Maintain the aspect ratio */
}

@media screen and (max-width: 768px) {
    .container {
        margin-top: 10px;
    }

    .content {
        padding: 10px;
    }
}
