body {
    font-family: 'Poppins', sans-serif; /* Use Poppins font for the body */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d8a8a8; /* Dusty Pink color */
}

header, section, footer {
    margin: 20px;
}

header {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

section {
    text-align: center;
    margin-top: 30px;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    background-color: #d8a8a8;
}
