body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20px;
}

.content {
    padding: 20px;
    background-color: transparent;
}

button {
    padding: 10px 20px;
    background-color: #ffa500;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #FF8C00;
}

img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .container {
        margin-top: 10px;
    }

    .content {
        padding: 10px;
    }

    @media screen and (orientation: landscape) {
        img {
            width: auto;
            height: 100%;
        }
    }
}
