body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000000;
}

.container {
    margin-top: 20px;
}

.content {
    padding: 20px;
    background-color: #000000;
}

button {
    padding: 10px 20px;
    background-color: #000000;
    color: #ffa500;
    border: none;
    cursor: pointer;
}
